{% extends 'login_home/base.html' %}
{% load static %}
{% block content %}
{% include 'login_home/navbar.html' %}

<html>

<body class="text-center">
    <div class="card"></div>
    <div class="card-group text-left d-inline-block" style="width: 321px; margin-top: 100px;">
        <div class="card d-flex justify-content-center mt-auto" style="margin-top: 50px;margin-right: 10px;min-width: 256px;max-width: 321px;margin-left: 10px;min-width: 256px;max-width: 321px;  background-color: #dedede;"><a href="{% url 'inventory_main' %}" style="color: rgb(0,0,0);"><img class="card-img-top w-100 d-block d-none justify-content-center align-content-center align-self-center flex-wrap mt-auto" src="{% static '/images/Inventory_Management_Photo2.png' %}" height="200px" style="height: 225px;"/>
        <div class="card-body text-center">
            <h4 class="text-nowrap card-title">Inventory Management</h4></div>
    </a></div>
    </div>
</body>

</html>


{% endblock %}
